@model PosWebApp.Models.SaleModel
@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered thead-dark">
        <thead>
            <tr>
                <th style="text-align:right">No. Of Items</th>
                <th style="text-align:right">Net Amount</th>
                <th style="text-align:right">Transaction Time</th>
                <th style="text-align:left">Register</th>
                <th style="text-align:left">Customer</th>
                <th style="text-align:left">Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model.sales)
            {
            <tr style="text-align:right">
                <td style="text-align:right">
                    @sale.Salelines.Count
                </td>
                <td style="text-align:right">
                    @sale.NetAmount.ToString("c2")
                </td>
                <td style="text-align:right">
                    @sale.TransactionTime
                </td>
                <td style="text-align:left">
                    @sale.RegisterID
                </td>
                <td style="text-align:left">
                    @((sale.Customer == null) ? "" : sale.Customer.DisplayName)
                </td>
                <td style="text-align:left">
                    @sale.Employee.DisplayName
                </td>
                <td>
                    @Html.ActionLink("Details", "Index", "SaleDetails", new { id = sale.SaleID }, null)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

